
<footer>
    <div class="container row">
        <div class="col-xs-6 col-s-3 icon-footer">
            <img src="../img/icon-shipping.png" alt="icono">
            <p><strong>Envio gratis</strong> <br>Por $29 de compra</p>
        </div>

        <div class="col-xs-6 col-s-3 icon-footer">
            <img src="../img/icon-refund.png" alt="icono de devoluciones gratis">
            <p><strong>Devoluciones gratis</strong> <br>Tienes 90 dias</p>
        </div>

        <div class="col-xs-6 col-s-3 icon-footer">
            <img src="../img/icon-customer-service.png" alt="icono de atencion al cliente">
            <p><strong>Atención al cliente</strong> <br>Por $29 de compra xxxxx</p>
        </div>


        <div class="col-xs-6 col-s-3 icon-footer">
            <img src="../img/icon-secure.png" alt="icono">
            <p><strong>Pago seguro</strong> <br>100% confiable</p>
        </div>
    </div>
</footer>


<footer>&copy; Carlos Morales Desarrollador Web</footer>
